#img-div {
    background: white;
    padding: 10px;
    margin: 0;
}

figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}